.thumbnail {
    box-sizing: border-box;
    border: 0.5em solid #b80000;
    background: #e90000;
    line-height: 0em;
    float: left;
    width: 33%;
    /*min-height: 5em;*/
    margin: 0 0.2% 0.2% 0;
}

@media screen and (min-width:800px) and (max-width:1200px) {
    .thumbnail {
        width:24.8%;
    }
}

.thumbnail img {
  width:100%;
  max-width:303px;
}

/* implement media queries to
    -  break after 4th thumbnail when width < 1200px
    -  break after 3rd thumbnail when width < 800px
*/
